.myRow{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#canvasContainer{
  background-color: white;
  border-radius: 30px;
  border: solid 5px gray;
  /* width: 80%;
  height: 50%; */
}

