<div class="myContainer">
  <!-- <div class="myRow"> -->
  <!-- </div> -->
  <!-- <p>Ilość głosów na stare BMW: {{oldBmwObj?.count}}</p> -->
  <!-- <p>Ilość głosów na nowe BMW: {{newBmwObj?.count}}</p> -->
<div class="myRow" >

    <div class="loader" *ngIf='loading'></div>
    <div id="canvasContainer" *ngIf='!loading'>
        <app-chart [oldBmwVotes]='oldBmwObj.count' [newBmwVotes]='newBmwObj.count'></app-chart>
    </div>
</div>
<div class="myRow">
  <button (click)='goBack()' type="button" class="btn btn-info">Powrót</button>
</div>

</div>
