<!-- <div class="loading" *ngIf='loading'>
    <div class="loader" ></div>

</div> -->
<div id="mainLoading" *ngIf='loading'>
    Loading<span class="d">.</span><span class="d d-2">.</span><span class="d d-3">.</span>
</div>

<router-outlet *ngIf='!loading'></router-outlet>
