#mainLoading {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(32, 32, 32);
  z-index: 2;
  opacity: 0.5;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

@keyframes dots {
  50% {
    transform: translateY(-.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.d {
  animation: dots 1.5s ease-out infinite;
}
.d-2 {
  animation-delay: .5s;
}
.d-3 {
  animation-delay: 1s;
}
