  <div class="loading" *ngIf='loading'>
    <div class="loader"></div>
  </div>

  <div class="myContainer">
    <div id='myRow'>
      <div class='element' (click)="vote('old Bmw')">
        <img src="assets/images/bmw_old.jpeg">
        <div>Stare</div>
      </div>
      <div id='vs'>
        <p>VS</p>
      </div>
      <div class='element' (click)="vote('new Bmw')">
        <img src="assets/images/bmw_new.jpg">
        <div>Nowe</div>
      </div>
    </div>
    <div id="results">
      <button routerLink="/results" type="button" class="btn btn-info">Wyniki</button>
    </div>
  </div>
