#myRow{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#vs{
  position: relative;
  margin: 20px;
  align-self: center;
  background-color: orange;
  border-radius: 30px;
  width: 100px;
  height: 100px;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
}

#vs p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.element {
  width: 45%;
  padding: 10px;
  border: 3px solid purple;
  border-radius: 30px;
  text-align: center;
  background-color: rgb(236, 236, 236);
}

.element:hover{
  cursor: pointer;
}

.element:active{
  border-color: chocolate;
  background-color: rgb(253, 240, 240);
}

img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

#results{
  margin: auto;
  text-align: center;
  width: 20%;
  padding: 10px;
}

button{
  width: 100%;
  text-align: center;
}
