/* You can add global styles to this file, and also import other style files */
* {
  font-size: 40px;
}

html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left bottom, #0093a8, #008598, #007788, #006978, #005c69);
  /* background: #1e5799; Old browsers */
  /* background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%); FF3.6-15 */
  /* background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#7db9e8 100%); Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#7db9e8 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); IE6-9 */
}


.myContainer{
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #E1E1E1;
  border: 5px solid #939393;
  border-radius: 30px;
}


.loading{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 32, 32);
  z-index: 2;
  opacity: 0.5;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hide {
  display: none;
}

